@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);

html, body {
	height: 100%;
}

body {
	border: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
	font-family: 'Segoe UI', 'Open Sans', sans-serif;
	font-size: 11pt;
}

#error {
	display: none;
	position: absolute;
	width: 100%;
	right: 250px;
	height: 40px;
	background-color: #833;
	text-align: center;
	line-height: 40px;
}

#error .error_tag {
	margin-left: 250px;
	font-weight: bold;
}

#error.warning .error_tag {
	display: none;
}

#container {
	width: 100%;
	height: 100%;
}

#wrapper {
	float: left;
	width: 100%;
	margin-left: -250px;
}

#content {
	margin-left: 250px;
}

#sidebar {
	float: right;
	width: 250px;
	height: 100%;
}

#queue_container {
	overflow: auto;
}

h3.title {
	font-size: 24px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 0;
	margin: 5px;
}

h3.title img {
	vertical-align: middle;
}

#video_url {
	width: 125px;
}

#footer {
	clear: both;
	width: 100%;
}

#debug {
	display: none;
	height: 100px;
	overflow: auto;
	border: 1px dotted #CCC;
}

#player_container {
	text-align: center;
	margin: 0 auto;
	height: 390px;
}

#controls_container {
	padding: 3px;
}

#bottom {
	overflow: auto;
	height: 300px;
}

#queue {
	margin: 0;
	padding: 0;
}

#queue li {
	font-size: 13px;
	height: 20px;
	margin: 0;
	margin-bottom: 2px;
	list-style: none;
	background-color: #000;
	padding: 10px 0;

	width: 100%;
	display: table;
	table-layout: fixed;
}

#queue li div {
	display: table-row;
}

#queue li a {
	color: #FFF;
	text-decoration: none;
}

#queue li a:hover {
	opacity: 0.7;
}

#queue.moderator .moderator_controls {
	cursor: pointer;
}

#queue.not_moderator div.play {
	overflow: hidden;
	width: 0;
}

#queue .highlighted {
	background-color: #363;
}

#queue li.hover {
	background-color: #222;
}

#queue .highlighted.hover {
	background-color: #393;
}

#queue li div div {
	padding: 4px;
	display: table-cell;
	vertical-align: middle;
}

#queue li img {
	vertical-align: middle;
}

#queue li .play, #queue li .remove {
	text-align: right;
	width: 25px;
}

#queue li .time {
	width: 30px;
	opacity: 0.6;
}

#queue li .title {
	overflow: hidden;
	white-space: nowrap;
}

.user_bar {
	padding: 5px 0 5px 5px;
	vertical-align: middle;
}

#guest_name_change {
	display: none;
	float: left;
	width: 50%;
}

#guest_name_change input {
	width: 100px;
}

.voting {
	float: right;
	width: 50%;
	text-align: right;
}

#users {
	margin: 3px;
	padding: 0;
	clear: right;
}

#users li {
	font-size: 14px;
	height: 20px;
	padding: 6px;
	margin: 0;
	margin-bottom: 2px;
	list-style: none;
	background-color: #000;
	overflow: hidden;
}

#users li a {
	color: #FFF;
	text-decoration: none;
}

#users li a:hover {
	color: #DDD;
}

#users.moderator .moderator_controls {
	cursor: pointer;
}

#users li.hover {
	background-color: #222;
}

#users li .moderator_tag {
	float: left;
	margin-right: 6pt;
	visibility: hidden;
}

#users li.moderator .moderator_tag {
	visibility: visible;
}

#users li .username {
	float: left;
}

#users .guest {
	font-style: italic;
}

#users li.self {
	background-color: #222;
	font-weight: bold;
}

#users li .make_moderator {
	float: right;
	margin-right: 6pt;
}

#users li.moderator .moderator_controls {
	display: none !important;
}

.vote_bar {
	padding: 5px 0;
	color: #CCC;
}

.vote_info {
	margin-right: 10px;
}

#vote_skip_status, #vote_mutiny_status {
	display: none;
}

#vote_mutiny_cancel {
	display: none;
}

button, input {
	font-family: 'Segoe UI', 'Open Sans', sans-serif;
	color: #FFF;
	text-decoration: none;
	padding: 0 7px;
	margin: 0 5px;
	font-size: 10pt;
	height: 24px;
	vertical-align: middle;
	outline: 0px none;
	border: solid 2px #696;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

button {
	text-align: center;
	background: #363;
}

input {
	background: transparent;
}

input:focus {
	border-color: #7C7
}

button:hover {
	background: #474;
}

button:active {
	background: #585;
	border-color: #7C7;
}

button:disabled {
	background-color: #333;
	border-color: #666;
}
