@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #000;
	color: #FFF;
	font-family: 'Segoe UI', 'Open Sans', sans-serif;
	font-size: 11pt;
}

#debugPrintout {
	height: 100px;
	overflow: auto;
	border: 1px dotted #CCC;
}

#queue {
	margin: 0;
	padding: 0;
	width: 640px;
}

#queue li {
	font-size: 10pt;
	height: 15pt;
	padding: 3pt;
	margin: 0;
	margin-bottom: 2px;
	list-style: none;
	background-color: #000;
}

#queue .highlighted {
	background-color: #111;
}

#queue li.hover {
	background-color: #222;
}

#queue li .play {
	float: left;
	margin-right: 5px;
	cursor: hand;
}

#queue li .title {
	float: left;
}

#queue li .time {
	float: right;
}

#queue li .remove {
	float: right;
	margin-right: 5px;
	cursor: hand;
}